body{
	background: url('../images/bg/moon.jpg');
   	background-repeat: no-repeat;
    background-attachment: fixed;
	color: white;
	background-size: cover;
	
}

//mixin
@mixin MB($margin) {
  margin-bottom: $margin;
}

@mixin MT($margin) {
  margin-top: $margin;
}

//variables
$headerWeatherFontSize: 22px;
$navbarBgColor: black;

//Common part
.bold{
	font-weight: bold;
}

.FL{
	float:left;
}

.ib{
	display: inline-block;
}



.clearfix{
	clear: both;
}

.fullwidth{
	width: 100%;
}

#outer-wrapper{
	height: 100%;
	overflow: auto;
}


//keyframe
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}

//navbar
nav ul {
	-webkit-font-smoothing:antialiased;
	text-shadow:0 1px 0 #FFF;
    background: $navbarBgColor;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
nav li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 200px;

}
nav a {
    background: $navbarBgColor;
    color: #444;
    display: block;
    font: normal 16px/50px sans-serif;
    padding: 0 25px;
    text-align: left;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
nav .dropdown:after {
    content: ' ▶';
}
nav .dropdown:hover:after{
	content:'\25bc'
}
nav li:hover a {
    background: $navbarBgColor;
}
nav li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
nav li:hover ul {
    opacity: 1;
    top: 48px;
    visibility: visible;
}
nav li ul li {
    float: none;
    width: 100%;
}
nav li ul a:hover {
    background: #bbb;
}

//Weather header
#weather-header{
	text-decoration: none;
	h1, h2, h4{
		margin: 0px;
	}
	.district{
	    @include MB(-15px);
	}

	#weather-desc-outer{
		@extend .fullwidth;
		@include MB(5px);
		@include MT(10px);
		#currentWeatherImg{
			img{
				height: 32px;
				width: 32px;
			}

		}

		#weather-desc{
			margin-left: 10px;
			h4{
				font-size: $headerWeatherFontSize;
				line-height: 32px;
			}
		}

	}
	
	#today-deg{
		@extend .fullwidth;
		@include MB(10px);
		height: 30px;
		font-size: $headerWeatherFontSize;
		span{
			margin-right: 30px;
		}
		i{
			padding-right: 10px;

		}
	}

	#current-deg{
		font-size: 140px;
	}
}


#weather-forecast{
	#forecast-grid{
		// width: 300px;
		min-height:200px;
	    background-color: #000;
    	background-color: rgba(0,0,0,.54);
    	padding: 10px;
		@media screen and (min-width: 360px) {
		  width: 300px;
		}
    	.dailyForecast{
    		height: 32px;
    		width: 100%;
		    line-height: 32px;
		    
		   	.dotted-line{
		   		float: center;
		   		width: 100%;
		   		border-top: 1px dotted #8c8b8b;
		   	}
    		.weekday-name{
				width: 35%;
    		}
    		.weekday-image{
				width: 25%;
				margin: 0 auto;
				text-align: center;
    			img{
	    			height: 30px;
					width: 30px;
				}
    		}
    		.weekday-high{
				width: 15%;
				padding-left: 10%;
    		}
    		.weekday-low{
    			width: 15%;
    			color: #a5d6ff;
    		}
    	}
    	@media  (min-width: 360px) and (max-width:780px) {
		  width: 300px;
		  margin-bottom: 10px;
		  margin-left: 0px;
		}
	}
	#weather-tips{
		min-height:200px;
	    background-color: #000;
    	background-color: rgba(0,0,0,.54);
    	padding: 10px;
    	margin-left: 10px;
    	width: 300px;
    	h4{
    		margin: 0px;
    	}	
    	img{
    		width: 30px;
    		height: 30px;
    		margin-left: 10px;
			-ms-transform: rotate(30deg); /* IE 9 */
			-webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
			transform: rotate(30deg);
    	}
    	p{
    		font-size: 14px;
    	}
		@media  (min-width: 360px) and (max-width:780px) {
		  width: 300px;
		  margin-bottom: 10px;
		  margin-left: 0px;
		}

	}

	#weather-wind{
		min-height:200px;
	    background-color: #000;
    	background-color: rgba(0,0,0,.54);
    	padding: 10px;
    	margin-left: 10px;
    	width: 300px;
    	h4{
    		margin: 0px;
    	}	
    	#fladepoleIcon-big{
			position: relative;
			width: 70px;
    		#flade{
    			animation: spin 3s linear 0s infinite reverse;
				position: absolute;
				img{
					width: 70px;
					height: 70px;
				}
    		}
    		#flade-pole{
    			position: absolute;
    			left: 30px;
    			top: 39px;
    			img{
    				width: 9px;
    				height: 70px;
    			}
    		}
    	}
    	#fladepoleIcon-small{
			position: relative;
			width: 70px;
    		#flade{
    			left:50px;
    			top: 30px;
    			animation: spin 3s linear 0s infinite reverse;
				position: absolute;
				img{
					width: 50px;
					height: 50px;
				}
    		}
    		#flade-pole{
    			position: absolute;
    			left: 70px;
    			top: 55px;
    			img{
    				width: 9px;
    				height: 55px;
    			}
    		}
    	}
    	#wind-info{
    		position: relative;
    		div{
    			position: absolute;
    			left: 125px;
    		}
    	}

    	
		@media  (min-width: 360px) and (max-width:780px) {
		  width: 300px;
		  /*margin-top: 10px;*/
		  margin-bottom: 10px;
		  margin-left: 0px;
		}
		@media  (min-width: 781px) and (max-width:1000px) {
		  width: 300px;
		  margin-bottom: 10px;
		  /*margin-left: 0px;*/
		}
	}
}
#weather-content{
	padding: 20px;
}

#retrieve-info{
	margin-top: 10px;
	h5{
		@include MB(0px);
		@include MT(0px);
		
	}
}

#loading-mask {
	&.active{
		display:block;
		width: 100%;
	    height: 100%;
	    position: absolute;
	    background: rgba(128,128,128,0.95);
	    top: 0px;
	    z-index: 1000;
        #loading-text{
	    	display: flex;
		    justify-content: center;
		    align-items: center;
		    height: 100%;
		    width: 100%;
	    }
	}
	  
     #loading-text{
     	display: none;
     }
	
}