@charset "UTF-8";
body {
  background: url("../images/bg/moon.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  background-size: cover; }

.bold {
  font-weight: bold; }

.FL {
  float: left; }

.ib {
  display: inline-block; }

.clearfix {
  clear: both; }

.fullwidth, #weather-header #weather-desc-outer, #weather-header #today-deg {
  width: 100%; }

#outer-wrapper {
  height: 100%;
  overflow: auto; }

nav ul {
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 #FFF;
  background: black;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

nav li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 200px; }

nav a {
  background: black;
  color: #444;
  display: block;
  font: normal 16px/50px sans-serif;
  padding: 0 25px;
  text-align: left;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

nav .dropdown:after {
  content: ' ▶'; }

nav .dropdown:hover:after {
  content: '\25bc'; }

nav li:hover a {
  background: black; }

nav li ul {
  float: left;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

nav li:hover ul {
  opacity: 1;
  top: 48px;
  visibility: visible; }

nav li ul li {
  float: none;
  width: 100%; }

nav li ul a:hover {
  background: #bbb; }

#weather-header {
  text-decoration: none; }
  #weather-header h1, #weather-header h2, #weather-header h4 {
    margin: 0px; }
  #weather-header .district {
    margin-bottom: -15px; }
  #weather-header #weather-desc-outer {
    margin-bottom: 5px;
    margin-top: 10px; }
    #weather-header #weather-desc-outer #currentWeatherImg img {
      height: 32px;
      width: 32px; }
    #weather-header #weather-desc-outer #weather-desc {
      margin-left: 10px; }
      #weather-header #weather-desc-outer #weather-desc h4 {
        font-size: 22px;
        line-height: 32px; }
  #weather-header #today-deg {
    margin-bottom: 10px;
    height: 30px;
    font-size: 22px; }
    #weather-header #today-deg span {
      margin-right: 30px; }
    #weather-header #today-deg i {
      padding-right: 10px; }
  #weather-header #current-deg {
    font-size: 140px; }

#weather-forecast #forecast-grid {
  min-height: 200px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 10px; }
  @media screen and (min-width: 360px) {
    #weather-forecast #forecast-grid {
      width: 300px; } }
  #weather-forecast #forecast-grid .dailyForecast {
    height: 32px;
    width: 100%;
    line-height: 32px; }
    #weather-forecast #forecast-grid .dailyForecast .dotted-line {
      float: center;
      width: 100%;
      border-top: 1px dotted #8c8b8b; }
    #weather-forecast #forecast-grid .dailyForecast .weekday-name {
      width: 35%; }
    #weather-forecast #forecast-grid .dailyForecast .weekday-image {
      width: 25%;
      margin: 0 auto;
      text-align: center; }
      #weather-forecast #forecast-grid .dailyForecast .weekday-image img {
        height: 30px;
        width: 30px; }
    #weather-forecast #forecast-grid .dailyForecast .weekday-high {
      width: 15%;
      padding-left: 10%; }
    #weather-forecast #forecast-grid .dailyForecast .weekday-low {
      width: 15%;
      color: #a5d6ff; }

#weather-forecast #weather-tips {
  min-height: 200px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 10px;
  margin-left: 10px;
  width: 300px; }
  #weather-forecast #weather-tips h4 {
    margin: 0px; }
  #weather-forecast #weather-tips img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    /* Chrome, Safari, Opera */
    transform: rotate(30deg); }
  #weather-forecast #weather-tips p {
    font-size: 14px; }
  @media (min-width: 360px) and (max-width: 780px) {
    #weather-forecast #weather-tips {
      width: 300px;
      margin-top: 10px;
      margin-left: 0px; } }

#weather-content {
  padding: 20px; }

#retrieve-info {
  margin-top: 10px; }
  #retrieve-info h5 {
    margin-bottom: 0px;
    margin-top: 0px; }

#loading-mask.active {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(128, 128, 128, 0.95);
  top: 0px;
  z-index: 1000; }
  #loading-mask.active #loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }

#loading-mask #loading-text {
  display: none; }
