<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://material.angularjs.org/1.1.1/docs.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>

</head>
<body ng-app="app" ng-cloak>

  <div>
    <nav>

    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools" style="background: black;">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
        <i class="material-icons" style="color: white;">menu</i>
          <!-- <md-icon md-svg-icon="img/icons/menu.svg"></md-icon> -->
        </md-button>
        <h2>
          <span>Toolbar with Disabled/Enabled Icon Buttons</span>
        </h2>
        <span flex></span>
        <!-- <md-button class="md-icon-button" ng-click="someFunc()">
          
      </md-button> -->
        <md-button class="md-icon-button" aria-label="Favorite">
         <i class="material-icons" style="color: white;">favorite</i>
          <!-- <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon> -->
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <!-- <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon> -->
          <i class="material-icons" style="color: white;">more_vert</i>
        </md-button>
      </div>
    </md-toolbar>

    </nav>
    <div id="weather-content">
      <div id="weather-header" ng-controller='WeatherHeaderController'>
            <h1 class="md-display-2">Yuen Long</h1>
            <h2 class="md-title">Hong Kong</h2>
            <h4 id="weather-desc">{{weatherDesc}}</h4>
            <div id="today-deg" class="">
            <i class="material-icons FL" style="color: white;">arrow_upward</i>
              <span id="highest-deg" class="FL">{{highestDeg}}°</span>
              <i class="material-icons FL" style="color: white;">arrow_downward</i>
              <span id="lowest-deg" class="FL">{{lowestDeg}}°</span>
            </div>
          <h1 class="md-display-4" id="current-deg">{{currentDeg}}°</h1>

          <!-- <div ng-repeat='item in items'> <span>{{item.title}}</span>

              <input type="text" ng-model="item.quantity"><span>{{item.price |
          currency}}</span>&nbsp;|&nbsp;<span>{{item.price *
          item.quantity | currency}}</span>

          </div> -->
      </div>
      <div class="clearfix"></div>
      <hr/>
      <div id="weather-forecast" ng-controller='WeatherForecastController'>
        <div id="forecast-grid">

        </div>
     <!--  Enter a text::
          <input ng-model='text.message'>
           <h2>{{text.message}}, Journey just started!</h2>
 -->
      </div>
    </div>
</div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>